<launch>

  <!-- set /global_example parameter -->  
  <group ns="renov_up_level">
    <!-- list parameters -->
    <param name="list_parameter_hz" value="0.1"/>
    <param name="ns_name" value="renov_up_level"/>
    <node pkg="painting_robot_demo" type="list_parameters.py" name="list_parameters" output="screen" >
    </node>
    
  </group>
  
</launch>

