<launch>
  <param name="coverage_json_path" value="/data/ros/renov_robot_ws/src/paintingrobotdemo_v2/paintingrobotdemo_data/second_scan_2/data/coverageplanningresults_dict.json" />

  <param name="xyz_flie_path" value= "/data/ros/renov_robot_ws/src/paintingrobotdemo_v2/paintingrobotdemo_data/second_scan_2/second_scan_rviz02.xyz" />

  <node name="paintingrobotmotion_visualization" pkg="paintingrobot_visualization" type="paintingrobotmotion_visualization.py" output="screen" />

  <node name="paintingrobotpathposition_visualization" pkg="paintingrobot_visualization" type="paintingrobotpathposition_visualization.py" output="screen" />

  <node name="paintingrobotscene_visualization" pkg="paintingrobot_visualization" type="paintingrobotscene_visualization" respawn="false" output="screen" />

  <include file="$(find paintingrobot_description)/launch/display.launch" />
    
</launch>
